.container-editais {
  padding: 2rem;
  background: #f9f9f9;
  min-height: 100vh;
  
}

.container-editais h1 {
  color: black;
  font-size: 40px;
}

.tabela-editais table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.tabela-editais th,
.tabela-editais td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: left;
}

.tabela-editais th {
  background-color: #004080;
  color: white;
}

.tabela-editais tr:nth-child(even) {
  background-color: #f2f2f2;
}
